<div class="d-flex justify-content-center flex-wrap" style="width: 100%;">
<% products.forEach(product => { %>
  <div class="card" style="width: 18rem; margin: 0px 22px;">
    <img src=<%= product.image %> class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <a href="/product/<%= product._id %>" class="btn btn-outline-primary">Xem chi tiết</a>
    </div>
  </div>      
<% }) %>
</div>